
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 1262px;
    background: #FFFFFF;
}

.tema{
    position: absolute;
    width: 100%;
    height: 156px;
    left: 0px;
    top: 0px;

    background: #B59E9E;
}

#name{
    position: absolute;
    display: flex;
    width: 100%;
    height: 79px;
    
    margin: 39px 0 38px 0;
    justify-content: center;

    font-family: initial;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    text-transform: capitalize;

    color: #000000;

    backdrop-filter: blur(2px);
}
nav ul{
    position: absolute;
    display: flex;
    width: 100%;
    height: 145px;
    left: 0px;
    top: 156px;
    background: #D9D9D9;
    list-style: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
}
nav a{
    position: relative;
    top: 48px;
    display: inline-block;
    margin-left: 93px;
    width: 172px;
    height: 49px;
    background: #E18686;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-decoration: none;
}
.list-item{
    height: 24px;
    width: 172px;
    position: absolute;
    text-align: center;
    transform: translateY(50%);
    color: #000000;  
}
.logo{
    position: absolute;
    width: 233px;
    height: 109px;
    left: 1200px;
    top: 18px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: url('./img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    
}
.card{
    position: relative;
    width: 80%;
    max-height: 300px;
    margin: 30px;
    top: 380px;
    background-color: #B59E9E;
}

.news img{
    float: left;
    margin: 25px 10px;
}
.content{
    width: 70%;
    height: 100%;
    float: left;
    margin: 0;
}